.App {
  text-align: center;
}

.App img {
  max-width: 50px;
  max-height: 50px;
}

.app__form {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
  padding: 20px;
  bottom: 0;
  z-index: 1;
}
