body {
    width: 1425px;
    max-width: 1425px;
}

@media screen and (min-width: 750px) and (max-width: 990px) {
    body {
        width: 750px;
        max-width: 990px;
    }
}

@media screen and (max-width: 414px) {
    body {
        width: 414px;
        max-width: 414px;
    }
}